body {
  background-color: rgb(234, 234, 234);
}

.product-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  list-style-type: none;
}

.product-card {
  background-color: white;
  height: 380px;
  width: 300px;
}

.image-card {
  height: 260px;
  width: 260px;
  margin-bottom: 10px;
}

.product-name {
  font-family: "";
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 10px;
}

.product-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 22px;
  margin-right: 22px;
  margin-bottom: 5px;
  padding-top: 20px;
}

.product-category {
  font-size: 22px;
}

.product-price {
  font-size: 32px;
}

.product-price {
  font-weight: bold;
  font-size: 26px;
}

.return-link {
  text-align: center;
  color: blue;
}
